.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.color-white {
    color: white;
}
/** Modals **/
#checkoutModal {
    background-color: rgba(0, 0, 0, 0.4);
}
#checkoutModal .close {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
}

/** Checkout Modal **/

#main-checkout {
    display: flex;
    flex-direction: row;
}

/** Order Info **/
#order-info {
    min-height: 300px;
    margin: 10px 10px;
    margin-right: 20px;
    width: 30%;
    max-height: 400px;
}
#total-amount {
    color: #fff;
    font-size: 24px;
    margin-top: 60px;
}
#order-info .container {
    padding: 0px 5px;
}
#order-info fieldset {
    margin-top: 20px;
}

/** cart items **/
#cart-items {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px auto;
    width: 70%;
}

#cart-items .food-item-card {
    background-color: #fff;
    max-height: 350px;
}
#cart-items .food-item-card h4 {
    margin: 0;
    padding-top: 10px;
}
#cart-items .action-btn {
    background-color:  orangered;
    box-shadow: none;
}
.add-cart button {
    cursor: pointer;
}
/** Form **/
#checkoutModal legend, label {
    color: #fff;
}
#checkoutModal form {
    margin: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}
#checkoutModal .form-item {
    margin-bottom: 20px;
    margin-top: 20px;
}
#checkoutModal .form-input {
    margin-top: 12px;
    padding: 8px;
    width: 80%;
}
#checkoutModal .form-item-submit {
    margin: 20px auto;
    width: 100%;
    padding-left: 10px;
}
#checkoutModal form .submit-btn {
    background-color: yellowgreen;
    border: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    padding: 14px 14px;
    cursor: pointer;
}
.text-center {
    text-align: center;
}

span.click {
    color: white;
    font-size: 32px;
}


/*  926px and down */
@media only screen and (max-width: 920px) {
    #cart-items {
        display: grid;
        grid-template-columns: auto auto;
        margin: 10px auto;
        width: 70%;
    }
  
}

/*  867px and down */
@media only screen and (max-width: 867px) {
    #main-checkout {
        display: block;
    }
    #cart-items {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 80px auto;
        width: 90%;
    }
    #cart-items .food-item-card{
        margin: 20px auto;
    }
    #order-info {
        margin: 10px auto;
        width: 80%;
        max-height: 400px;
    }
}

/*  768px and down */
@media only screen and (max-width: 768px) {
    #cart-items {
        display: grid;
        grid-template-columns: auto auto;
        margin: 80px auto;
        width: 100%;
    }
    #cart-items .food-item-card{
        margin: 20px auto;
    }
}

/*  593px and down */
@media only screen and (max-width: 593px) {
    #cart-items {
        display: grid;
        grid-template-columns: auto;
        margin: 80px auto;
        width: 100%;
    }
    #cart-items .food-item-card{
        margin: 20px auto;
    }
}
