body {
    max-height: 100vh;
}
.text-center {
    text-align: center;
}
/** Form **/
form {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}
.form-item {
    margin-bottom: 20px;
    margin-top: 20px;
}
.form-input, .form-btn {
    margin-top: 12px;
    padding: 8px;
    width: 100%;
}
.form-btn {
    background-color: yellowgreen;
    width: 50%;
    border: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    padding: 14px 14px;
    width: 150px;    
    cursor: pointer;
}
.form-btn:hover {
    background-color: rgb(52, 141, 52);
}


/** Signup and Login **/
#signup, #login {
    min-height: 70vh;
}
#signup .container, #login .container {
    max-width: 800px;
    margin-top: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/** Footer **/
footer {
    position: fixed;
    width: 100%;
}
#signup-footer {
    position: relative;
    width: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #signup, #login {
        min-height: 66.9vh;
    }
    #login {
        min-height: 70vh;
    }
    #signup .container, #login .container {
        width: 400px;
        margin-top: 85px;
    }
    #signup .container {
        margin-top: 20px;
        margin-bottom:  20px;
    }
}
